body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fix-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navbar {
 font-family: 'Montserrat', sans-serif;
  height: 5rem;
  padding: 2rem;
  font-size: 1.2rem;
}

.navbar-brand {
  padding: 1rem;
}

.bg-primary {
  background-color: #004c99;
}

.landing-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 5rem;
}

.landing-container {
  background-image: url("/public/plane.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}